/* home.css */
.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .home-navbar {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .main-section {
    display: flex;
    flex: 1;
    padding-top: 20px;
  }
  
  .sidebar {
    width: 300px;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .sidebar h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .task-statistics {
    margin-bottom: 20px;
  }
  
  .task-statistics p {
    margin: 5px 0;
  }
  
  .task-components {
    margin-top: 20px;
  }
  
  .task-components h4 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
  }
  
  .task-components p {
    margin: 8px 0;
    font-size: 14px;
    color: #666;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .task-management-header {
    margin-bottom: 20px;
  }
  
  .add-task-btn {
    display: flex;
    justify-content: center;
  }
  
  .add-task-btn button {
    padding: 10px 20px;
    background-color: black; /* Black background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 20px; /* Rounded corners */
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  
  .add-task-btn button span {
    margin-right: 5px; /* Space between the "+" and the text */
  }
  
  .add-task-btn button:before {
    content: "+"; /* Add a "+" before the "Add Task" text */
    margin-right: 5px; /* Add a space between "+" and "Add Task" */
  }